<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Sanu - College University HTML Template" >
<meta name="description" content="Sanu - College University HTML Template">
<meta name="author" content="Barat Hadian">

<link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">

<link rel="stylesheet" href="assets/css/meanmenu.css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/magnific-popup.css">

<link rel="stylesheet" href="assets/css/flaticon.css">

<link rel="stylesheet" href="assets/css/remixicon.css">

<link rel="stylesheet" href="assets/css/odometer.min.css">

<link rel="stylesheet" href="assets/css/aos.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/dark.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<link rel="stylesheet" href="assets/css/rtl.css">
<link rel="icon" type="image/png" href="assets/images/favicon.png">
<title>Sanu - قالب HTML سانو , پوسته سایت آموزشی دانشگاه و کالج</title>
</head>
<body>

            @RenderBody();

<div class="footer-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-4 col-sm-6">
<div class="footer-logo-area">
<a href="index.html"><img src="assets/images/white-logo.png" alt="Image"></a>
<p>دانشگاه سانو در سال 1810 برای منافع عمومی تأسیس شد. پس از آن در سطح جهانی شناخته می شود</p>
<div class="contact-list">
<ul>
<li><a href="tel:+01987655567685">+01-9876-5556-7685
</a></li>
<li><a href="mailto: admin@sanu.edu"> admin@sanu.edu</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="footer-widjet">
<h3>زندگی دانشگاهی</h3>
<div class="list">
<ul>
<li><a href="campus-life.html">دسترسی</a></li>
<li><a href="campus-life.html">کمک مالی</a></li>
<li><a href="campus-life.html">خدمات غذایی</a></li>
<li><a href="campus-life.html">مسکن</a></li>
<li><a href="campus-life.html">فناوری اطلاعات</a></li>
<li><a href="campus-life.html">زندگی دانشجویی</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="footer-widjet">
<h3>خدمات دانشگاه</h3>
<div class="list">
<ul>
<li><a href="campus-life.html">علمی</a></li>
<li><a href="campus-life.html">برنامه ریزی و مدیریت</a></li>
<li><a href="campus-life.html">ایمنی کالج</a></li>
<li><a href="campus-life.html">دفتر نمایندگی</a></li>
<li><a href="campus-life.html">خدمات تسهیلات</a></li>
<li><a href="campus-life.html">منابع انسانی</a></li>
 </ul>
</div>
</div>
</div>
<div class="col-lg-2 col-sm-6">
<div class="footer-widjet">
<h3>دانشگاهیان</h3>
<div class="list">
<ul>
<li><a href="academics.html">بومی</a></li>
<li><a href="academics.html">کاتالیزور</a></li>
<li><a href="academics.html">کتابخانه</a></li>
<li><a href="academics.html">جدول زمانی</a></li>
<li><a href="academics.html">برای پذیرش اقدام کنید</a></li>
<li><a href="academics.html">پرداخت شهریه</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="shape">
<img src="assets/images/shape-1.png" alt="Image">
</div>
</div>
</div>


<div class="copyright-area">
<div class="container">
<div class="copyright">
<div class="row">
<div class="col-lg-6 col-md-4">
<div class="social-content">
<ul>
<li><span>دنبال کنید در</span></li>
<li>
<a href="https://www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
</li>
<li>
<a href="https://www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
</li>
<li>
<a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
</li>
<li>
<a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-8">
<div class="copy">
<p>کپی رایت © 1401 سانو. تمام حقوق قالب محفوظ است . طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="go-top">
<i class="ri-arrow-up-s-line"></i>
<i class="ri-arrow-up-s-line"></i>
</div>


<script src="assets/js/jquery.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/jquery.meanmenu.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/carousel-thumbs.min.js"></script>

<script src="assets/js/jquery.magnific-popup.js"></script>

<script src="assets/js/aos.js"></script>

<script src="assets/js/odometer.min.js"></script>

<script src="assets/js/appear.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/ajaxchimp.min.js"></script>

<script src="assets/js/custom.js"></script>
</body>
</html>
        