<div class="preloader-area">
<div class="spinner">
<div class="inner">
<div class="disc"></div>
<div class="disc"></div>
<div class="disc"></div>
</div>
</div>
</div>


<div class="top-header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6">
<div class="header-left-content">
<p>آخرین به‌روزرسانی‌ها و پاسخ سانو به کووید-19 را دریافت کنید</p>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="header-right-content">
<div class="list">
<ul>
<li><a href="graduate-admission.html">دانش آموزان</a></li>
<li><a href="campus-life.html">هیات علمی</a></li>
<li><a href="admission.html">بازدید کنندگان</a></li>
<li><a href="academics.html">دانشگاهیان</a></li>
<li><a href="alumni.html">فارغ التحصیلان</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="navbar-area nav-bg-1">
<div class="mobile-responsive-nav">
<div class="container">
<div class="mobile-responsive-menu">
<div class="logo">
<a href="index.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
</div>
</div>
</div>
</div>
<div class="desktop-nav">
<div class="container">
 <nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="assets/images/white-logo.png" alt="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav ms-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
خانه
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="index.html" class="nav-link">صفحه اصلی - 1</a>
</li>
<li class="nav-item">
<a href="index-2.html" class="nav-link">صفحه اصلی - 2</a>
</li>
<li class="nav-item">
<a href="index-3.html" class="nav-link">صفحه اصلی - 3</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
صفحات
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="graduate-admission.html" class="nav-link">پذیرش فارغ التحصیل</a>
</li>
<li class="nav-item">
<a href="campus-life.html" class="nav-link">زندگی دانشگاهی</a>
</li>
<li class="nav-item">
<a href="alumni.html" class="nav-link">فارغ التحصیلان</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
دانشگاهیان
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="academics.html" class="nav-link">دانشگاهیان</a>
</li>
<li class="nav-item">
<a href="academics-details.html" class="nav-link">جزئیات دانشگاهیان</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
آخرین خبرها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="latest-news.html" class="nav-link">آخرین اخبار ما</a>
</li>
<li class="nav-item">
<a href="news-details.html" class="nav-link">جزئیات خبر</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="faq.html" class="nav-link">سوالات متداول</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
کاربران
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="login.html" class="nav-link">ورود</a>
</li>
<li class="nav-item">
<a href="register.html" class="nav-link">ثبت نام</a>
</li>
<li class="nav-item">
<a href="recover-password.html" class="nav-link">بازیابی گذرواژه</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
</li>
<li class="nav-item">
<a href="terms-conditions.html" class="nav-link">قوانین و ضوابط</a>
</li>
<li class="nav-item">
<a href="coming-soon.html" class="nav-link">به زودی</a>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">خطای 404</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">
دوره ها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="courses.html" class="nav-link">دوره ها</a>
</li>
<li class="nav-item">
<a href="courses-details.html" class="nav-link active">جزئیات دوره ها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
مراقبت های بهداشتی
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="health-care.html" class="nav-link">مراقبت های بهداشتی</a>
</li>
<li class="nav-item">
<a href="health-care-details.html" class="nav-link">جزئیات مراقبت های بهداشتی</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
رویدادها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="events.html" class="nav-link">رویدادها</a>
</li>
<li class="nav-item">
<a href="events-details.html" class="nav-link">جزئیات رویدادها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contact-us.html" class="nav-link">تماس با ما</a>
</li>
</ul>
<div class="others-options">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="others-option-for-responsive">
<div class="container">
<div class="dot-menu">
<div class="inner">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>
<div class="modal-body">
<a href="index.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
<div class="sidebar-content">
<h3>درباره ما</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="sidebar-btn">
<a href="contact.html" class="default-btn">بیایید صحبت کنیم</a>
</div>
</div>
<div class="sidebar-contact-info">
<h3>اطلاعات مشتری</h3>
<ul class="info-list">
<li><i class="ri-phone-fill"></i> <a href="tel:9901234567">+990-123-4567</a></li>
<li><i class="ri-mail-line"></i><a href="mailto: hello@sanu.com"> hello@sanu.com</a></li>
<li><i class="ri-map-pin-line"></i> ایران ، استان تهران ، میدان آزادی</li>
</ul>
</div>
<ul class="sidebar-social-list">
<li>
<a href="https://www.facebook.com" target="_blank"><i class="flaticon-facebook"></i></a>
</li>
<li>
<a href="https://www.twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
</li>
<li>
<a href="https://linkedin.com/?lang=en" target="_blank"><i class="flaticon-linkedin"></i></a>
</li>
<li>
<a href="https://instagram.com/?lang=en" target="_blank"><i class="flaticon-instagram"></i></a>
</li>
</ul>
<div class="contact-form">
<h3>برای شروع آماده اید؟</h3>
<form id="contactForm">
<div class="row">
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="text" name="name" class="form-control" required data-error="لطفا نام خود را وارد " placeholder="نام شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="email" name="email" class="form-control" required data-error="لطفا ایمیل خود را وارد کنید" placeholder="آدرس ایمیل شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<input type="text" name="phone_number" class="form-control" required data-error="لطفا تلفن خود را وارد کنید" placeholder="شماره تلفن شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<textarea name="message" class="form-control" cols="30" rows="6" required data-error="لطفا پیام خود را بنویسید" placeholder="نوشتن پیام شما..."></textarea>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<button type="submit" class="default-btn">ارسال پیام<span></span></button>
<div id="msgSubmit" class="h3 text-center hidden"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="page-banner-area bg-1">
<div class="container">
<div class="page-banner-content">
<h1>جزئیات دوره</h1>
<ul>
<li><a href="index.html">صفحه اصلی</a></li>
<li>جزئیات دوره</li>
</ul>
</div>
</div>
</div>


 <div class="courses-details-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="courses-details">
<div class="courses-card">
<h2>برنامه نویسی پایتون برای علم داده</h2>
<div class="img">
<img src="assets/images/courses/courses-4.jpg" alt="Image">
</div>
<div class="list">
<ul>
<li>
<div class="teacher">
<img src="assets/images/courses/admin-1.jpg" alt="Image">
<p>معلم: <a href="#">جسیکا همسون</a></p>
</div>
</li>
<li><i class="flaticon-clock"></i><span>آخرین به روز رسانی: </span>29 سپتامبر 2021</li>
</ul>
</div>
</div>
<div class="description">
<div class="container p-0">
<nav>
<div class="nav nav-tabs d-flex justify-content-between" id="nav-tab" role="tablist">
<button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab"  aria-controls="nav-overview" aria-selected="true">نمای کلی</button>
<button class="nav-link" id="nav-curriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-curriculum" type="button" role="tab" aria-controls="nav-curriculum" aria-selected="false">برنامه درسی</button>
<button class="nav-link" id="nav-instructor-tab" data-bs-toggle="tab" data-bs-target="#nav-instructor" type="button" role="tab" aria-controls="nav-instructor" aria-selected="false">مدرس</button>
<button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">بررسی‌ها</button>
</div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
<div class="overview">
<div class="learn">
<h3>چه چیزی یاد خواهید گرفت؟</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="overview-box">
<h4>یادگیری بصری با تئوری</h4>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="overview-box">
<h4>برنامه منطقی پایه Layton</h4>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="overview-box">
<h4>حل و اجرا خطا</h4>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
</div>
</div>
<div class="tab-pane fade" id="nav-curriculum" role="tabpanel" aria-labelledby="nav-curriculum-tab">
<div class="curriculum">
<h3>شروع با Sanu</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="curriculum-list">
<ul>
<li>درس 1 معرفی زبان برنامه نویسی؟<span>01 ساعت</span></li>
<li>درس 2 راهنمای نصب و راه اندازی ?<span>03 ساعت</span></li>
<li>درس 3 کار با رشته، توابع بولی؟<span>01 ساعت</span></li>
<li>درس 4 کار بر روی کنترل های فرم؟ <span>30 دقیقه</span></li>
<li>درس 5 راه حل های خطا و اشکال زدایی کد؟ <span>01 ساعت</span></li>
<li>درس 6 کار با سایت زنده.<span>01 ساعت</span></li>
<li>کارکرد ماژول<span>02 ساعت</span></li>
</ul>
</div>
</div>
</div>
<div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
<div class="row">
<div class="instructor">
<div class="row align-items-center">
<div class="col-lg-5">
<div class="instructor-image">
<img src="assets/images/courses/instructor.jpg" alt="Image">
</div>
</div>
<div class="col-lg-7">
<div class="instructor-content">
<div class="name">
<h3>سامانتا نیکولا</h3>
<p>مدرس اقتصاد</p>
</div>
<p class="mb-30">لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="quick-contact">
<h4>تماس سریع</h4>
<ul>
<li><i class="ri-phone-line"></i><span>شماره تلفن</span><a href="tel8002162020">(800) 216 2020
</a></li>
<li><i class="ri-mail-line"></i><span>ایمیل</span><a href="mailto: admin@sanu.edu"> admin@sanu.edu</a></li>
</ul>
</div>
<div class="social">
<ul>
<li>
<a href="https//instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
</li>
<li>
<a href="https//linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
</li>
<li>
<a href="https//www.facebook.com" target="_blank"><i class="ri-facebook-fill"></i></a>
</li>
<li>
<a href="https//www.twitter.com" target="_blank"><i class="ri-twitter-fill"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
<div class="reviews">
<div class="single-reviews-card">
<img src="assets/images/courses/review-1.png" alt="Images">
<h2> خورخه به طور کلی</h2>
<div class="date">
<p>17 ژانویه 2022، ساعت 1043 صبح</p>
</div>
<div class="icon">
 <i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="single-reviews-card">
<img src="assets/images/courses/review-2.png" alt="Images">
<h2>مانوئل مایرز</h2>
<div class="date">
<p>17 ژانویه 2022، ساعت 1043 صبح</p>
</div>
<div class="icon">
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="single-reviews-card">
<img src="assets/images/courses/review-1.png" alt="Images">
<h2>سالی هچ</h2>
<div class="date">
<p>17 ژانویه 2022، ساعت 1043 صبح</p>
</div>
<div class="icon">
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
<i class="ri-star-fill"></i>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="review-form">
<h3>یک نظر بنویسید</h3>
<form>
<div class="row">
<div class="col-lg-6">
<div class="form-group">
<label>نام</label>
<input type="text" class="form-control" id="name">
 </div>
</div>
<div class="col-lg-6">
<div class="form-group">
<label>ایمیل</label>
<input type="email" class="form-control" id="email">
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>خلاصه</label>
<textarea class="form-control" id="review" rows="4"></textarea>
</div>
</div>
</div>
<button type="submit" class="default-btn btn">ارسال نظر</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="comments">
<h3>2 نظر</h3>
<div class="single-comments-box">
<img src="assets/images/courses/review-1.png" alt="Images">
<h4>جیمز بنجامین</h4>
<div class="date">
<p>17 ژانویه 2022، ساعت 1043 صبح</p>
</div>
<div class="reply">
<a href="#">پاسخ</a>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="single-comments-box">
<img src="assets/images/courses/review-2.png" alt="Images">
<h4>الیزابت سوفیا</h4>
<div class="date">
<p>17 ژانویه 2022، ساعت 1043 صبح</p>
</div>
<div class="reply">
<a href="#">پاسخ</a>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
</div>
<div class="reply-area">
<div class="reply-form">
<h3>پاسخ بگذارید</h3>
<p>آدرس ایمیل شما منتشر نخواهد شد.</p>
<form>
<div class="row">
<div class="col-lg-12">
<div class="form-group">
<textarea class="form-control" id="review2" rows="4" placeholder="نظر"></textarea>
 </div>
</div>
<div class="col-lg-4">
<div class="form-group">
<input type="text" class="form-control" id="name2" placeholder="نام">
</div>
</div>
<div class="col-lg-4">
<div class="form-group">
<input type="email" class="form-control" id="email2" placeholder="ایمیل">
</div>
</div>
<div class="col-lg-4">
<div class="form-group">
<input type="text" class="form-control" id="website" placeholder="وبسایت">
</div>
</div>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
<label class="form-check-label" for="flexCheckDefault">
برای دفعه بعد که نظر می دهم نام، ایمیل و وب سایت من را در این مرورگر ذخیره کنید.
</label>
</div>
<button type="submit" class="default-btn btn">یک نظر ارسال کنید <i class="flaticon-paper-plane"></i></button>
</form>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="course-details-right-content">
<div class="serch-content">
<h3>جستجو</h3>
<div class="form-group">
<input type="text" class="form-control" placeholder="دوره خود را بیابید">
<button type="submit" class="src-btn">
<i class="flaticon-search"></i>
</button>
</div>
</div>
</div>
<div class="enroll-courses">
<div class="enroll-img">
<img src="assets/images/courses/courses-4.jpg" alt="Image">
<div class="icon">
<a class="popup-youtube play-btn" href="https//www.youtube.com/watch?v=6WQCJx_vEX4"><i class="ri-play-fill"></i></a>
</div>
</div>
<div class="list">
<ul>
<li><span>مدرس</span>لوئیس</li>
<li><span>سخنرانی</span>12</li>
<li><span>مدت زمان</span>20 ساعت و 41 دقیقه و 32 ثانیه</li>
<li><span>ثبت نام</span>2 دانش آموز</li>
<li><span>سطح دوره</span>متوسط</li>
<li><span>زبان</span>انگلیسی</li>
</ul>
</div>
<a href="courses.html" class="default-btn btn">ثبت نام دوره ها</a>
</div>
<div class="related-download">
<h3>دانلودهای مرتبط</h3>
<ul>
<li><a href="#"><i class="flaticon-pdf-file"></i>بخش بروشور</a></li>
<li><a href="#"><i class="flaticon-pdf-file"></i>جزئیات بخش</a></li>
<li><a href="#"><i class="flaticon-pdf-file"></i>بخش مجلات</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>