<div class="preloader-area">
<div class="spinner">
<div class="inner">
<div class="disc"></div>
<div class="disc"></div>
<div class="disc"></div>
</div>
</div>
</div>


<div class="top-header-area">
<div class="container-fluid">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6">
<div class="header-left-content">
<p>آخرین به‌روزرسانی‌ها و پاسخ سانو به کووید-19 را دریافت کنید</p>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="header-right-content">
<div class="list">
<ul>
<li><a href="graduate-admission.html">دانش آموزان</a></li>
<li><a href="campus-life.html">هیات علمی</a></li>
<li><a href="admission.html">بازدید کنندگان</a></li>
<li><a href="academics.html">دانشگاهیان</a></li>
<li><a href="alumni.html">فارغ التحصیلان</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="navbar-area nav-bg-1">
<div class="mobile-responsive-nav">
<div class="container">
<div class="mobile-responsive-menu">
<div class="logo">
<a href="index2.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
</div>
</div>
</div>
</div>
<div class="desktop-nav">
<div class="container-fluid">
 <nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="assets/images/white-logo.png" alt="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav ms-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">
خانه
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="index2.html" class="nav-link active">صفحه اصلی - 1</a>
</li>
<li class="nav-item">
<a href="index2-2.html" class="nav-link">صفحه اصلی - 2</a>
</li>
<li class="nav-item">
<a href="index2-3.html" class="nav-link">صفحه اصلی - 3</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
صفحات
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="graduate-admission.html" class="nav-link">پذیرش فارغ التحصیل</a>
</li>
<li class="nav-item">
<a href="campus-life.html" class="nav-link">زندگی دانشگاهی</a>
</li>
<li class="nav-item">
<a href="alumni.html" class="nav-link">فارغ التحصیلان</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
دانشگاهیان
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="academics.html" class="nav-link">دانشگاهیان</a>
</li>
<li class="nav-item">
<a href="academics-details.html" class="nav-link">جزئیات دانشگاهیان</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
آخرین خبرها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="latest-news.html" class="nav-link">آخرین اخبار ما</a>
</li>
<li class="nav-item">
<a href="news-details.html" class="nav-link">جزئیات خبر</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="faq.html" class="nav-link">سوالات متداول</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
کاربران
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="login.html" class="nav-link">ورود</a>
</li>
<li class="nav-item">
<a href="register.html" class="nav-link">ثبت نام</a>
</li>
<li class="nav-item">
<a href="recoverpassword.html" class="nav-link">بازیابی گذرواژه</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
</li>
<li class="nav-item">
<a href="termsconditions.html" class="nav-link">قوانین و ضوابط</a>
</li>
<li class="nav-item">
<a href="comingsoon.html" class="nav-link">به زودی</a>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">خطای 404</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
دوره ها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="courses.html" class="nav-link">دوره ها</a>
</li>
<li class="nav-item">
<a href="coursesdetails.html" class="nav-link">جزئیات دوره ها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
مراقبت های بهداشتی
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="healthcare.html" class="nav-link">مراقبت های بهداشتی</a>
</li>
<li class="nav-item">
<a href="healthcare-details.html" class="nav-link">جزئیات مراقبت های بهداشتی</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
رویدادها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="events.html" class="nav-link">رویدادها</a>
</li>
<li class="nav-item">
<a href="eventsdetails.html" class="nav-link">جزئیات رویدادها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contactus.html" class="nav-link">تماس با ما</a>
</li>
</ul>
<div class="others-options">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="others-option-for-responsive">
<div class="container">
<div class="dot-menu">
<div class="inner">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>
<div class="modal-body">
<a href="index2.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
<div class="sidebar-content">
<h3>درباره ما</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="sidebar-btn">
<a href="contact.html" class="default-btn">بیایید صحبت کنیم</a>
</div>
</div>
<div class="sidebar-contact-info">
<h3>اطلاعات مشتری</h3>
<ul class="info-list">
<li><i class="ri-phone-fill"></i> <a href="tel:9901234567">+990-123-4567</a></li>
<li><i class="ri-mail-line"></i><a href="mailto: hello@sanu.com"> hello@sanu.com</a></li>
<li><i class="ri-map-pin-line"></i> ایران ، استان تهران ، میدان آزادی</li>
</ul>
</div>
<ul class="sidebar-social-list">
<li>
<a href="https://www.facebook.com" target="_blank"><i class="flaticon-facebook"></i></a>
</li>
<li>
<a href="https://www.twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
</li>
<li>
<a href="https://linkedin.com/?lang=en" target="_blank"><i class="flaticon-linkedin"></i></a>
</li>
<li>
<a href="https://instagram.com/?lang=en" target="_blank"><i class="flaticon-instagram"></i></a>
</li>
</ul>
<div class="contact-form">
<h3>برای شروع آماده اید؟</h3>
<form id="contactForm">
<div class="row">
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="text" name="name" class="form-control" required data-error="لطفا نام خود را وارد " placeholder="نام شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="email" name="email" class="form-control" required data-error="لطفا ایمیل خود را وارد کنید" placeholder="آدرس ایمیل شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<input type="text" name="phone_number" class="form-control" required data-error="لطفا تلفن خود را وارد کنید" placeholder="شماره تلفن شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<textarea name="message" class="form-control" cols="30" rows="6" required data-error="لطفا پیام خود را بنویسید" placeholder="نوشتن پیام شما..."></textarea>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<button type="submit" class="default-btn">ارسال پیام<span></span></button>
<div id="msgSubmit" class="h3 text-center hidden"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="banner-area pb-100">
<div class="container-fluid">
<div class="hero-slider owl-carousel owl-theme" data-slider-id="1">
<div class="slider-item banner-bg-1">
<div class="slider-content">
<h1>پتانسیل و استعدادهای خود را در سانو کاوش کنید</h1>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="courses.html" class="default-btn btn">یک سفر را شروع کنید <i class="flaticon-next"></i></a>
</div>
</div>
<div class="slider-item banner-bg-2">
<div class="slider-content">
<h1>خلاقیت و استعداد خود را با سانو کشف کنید</h1>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="courses.html" class="default-btn btn">یک سفر را شروع کنید <i class="flaticon-next"></i></a>
</div>
</div>
<div class="slider-item banner-bg-3">
<div class="slider-content">
<h1>آینده زیبا و روشن خود را از اینجا شروع کنید</h1>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="courses.html" class="default-btn btn">یک سفر را شروع کنید <i class="flaticon-next"></i></a>
</div>
</div>
</div>
<div class="owl-thumbs" data-slider-id="1">
<button class="owl-thumb-item">
<img src="assets/images/banner/thumb-1.jpg" alt="Images">
</button>
<button class="owl-thumb-item">
<img src="assets/images/banner/thumb-2.jpg" alt="Images">
</button>
<button class="owl-thumb-item">
<img src="assets/images/banner/thumb-3.jpg" alt="Images">
</button>
</div>
</div>
</div>


<div class="academic-area pt-100 pb-70">
<div class="container">
<div class="section-title">
<h2>دانشگاهیان</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-academics-card">
<div class="academic-top-content">
<i class="flaticon-college-graduation"></i>
<a href="academics-details.html"><h3>تحصیل در مقطع کارشناسی</h3></a>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="academicsdetails.html" class="read-more-btn">تحصیل در مقطع کارشناسی<i class="flaticon-next"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-academics-card">
<div class="academic-top-content">
<i class="flaticon-graduation"></i>
<a href="academicsdetails.html"><h3>تحصیلات تکمیلی</h3></a>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="academicsdetails.html" class="read-more-btn">تحصیلات تکمیلی<i class="flaticon-next"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-academics-card">
<div class="academic-top-content">
<i class="flaticon-writing-tool"></i>
<a href="academicsdetails.html"><h3>یادگیری مادام العمر</h3></a>
</div>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="academicsdetails.html" class="read-more-btn">یادگیری مادام العمر<i class="flaticon-next"></i></a>
</div>
</div>
</div>
</div>
</div>


<div class="campus-information-area pb-70">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6">
<div class="campus-content pr-20">
<div class="campus-title">
<h2>اطلاعات کالج</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="list">
<div class="row">
<div class="col-lg-6 col-md-6">
<ul>
<li>
<i class="ri-check-fill"></i>
<p>برنامه های تحصیلات تکمیلی</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>برنامه ها</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>مدارک دکتری</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>فارغ التحصیلان و بخشش</p>
</li>
</ul>
</div>
<div class="col-lg-6 col-md-6">
<ul>
<li>
<i class="ri-check-fill"></i>
<p>کارشناسی</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>مراکز بین المللی</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>مدارک دکتری</p>
</li>
<li>
<i class="ri-check-fill"></i>
<p>دانشجویان جهانی</p>
 </li>
</ul>
</div>
</div>
</div>
<div class="counter">
<div class="row">
<div class="col-lg-4 col-4">
<div class="counter-card">
<h1>
<span class="odometer" data-count="65">00</span>
<span class="target">+</span>
</h1>
<p>سال ها تجربه</p>
</div>
</div>
<div class="col-lg-4 col-4">
<div class="counter-card">
<h1>

<span class="target heading-color">k</span>
<span class="odometer" data-count="30">00</span><span class="target">+</span>
</h1>
<p>دانشجویان جهانی</p>
</div>
</div>
<div class="col-lg-4 col-4">
<div class="counter-card">
<h1>
<span class="odometer" data-count="52">00</span>
<span class="target">+</span>
</h1>
<p>ملیت های دانشجویی</p>
</div>
</div>
</div>
</div>
<a href="campus-life.html" class="default-btn btn">برنامه خود را شروع کنید<i class="flaticon-next"></i></a>
</div>
</div>
<div class="col-lg-6">
<div class="campus-image pl-20">
<img src="assets/images/campus-information/campus-1.jpg" alt="Image">
</div>
</div>
</div>
</div>
</div>


<div class="courses-area ptb-100 bg-f4f6f9">
<div class="container">
<div class="section-title">
<h2>دوره های رایگان</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-courses-card">
<div class="courses-img">
<a href="coursesdetails.html"><img src="assets/images/courses/courses-1.jpg" alt="Image"></a>
</div>
<div class="courses-content">
<div class="admin-profile">
<img src="assets/images/courses/admin-1.jpg" alt="Image">
<p>توسط <a href="coursesdetails.html">جسیکا همسون</a></p>
</div>
<a href="coursesdetails.html"><h3>برنامه نویسی پایتون برای علم داده</h3></a>
<div class="bottom-content">
 <ul class="d-flex justify-content-between">
<li>
<ul>
<li>321<i class="flaticon-graduation"></i></li>
<li>1.2k<i class="flaticon-bubble-chat"></i></li>
</ul>
</li>
<li><a href="#">رایگان</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-courses-card">
<div class="courses-img">
<a href="coursesdetails.html"><img src="assets/images/courses/courses-2.jpg" alt="Image"></a>
</div>
<div class="courses-content">
<div class="admin-profile">
<img src="assets/images/courses/admin-2.jpg" alt="Image">
<p>توسط <a href="coursesdetails.html">جسیکا همسون</a></p>
</div>
<a href="coursesdetails.html"><h3>برنامه نویسی پایتون برای علم داده</h3></a>
<div class="bottom-content">
 <ul class="d-flex justify-content-between">
<li>
<ul>
<li>321<i class="flaticon-graduation"></i></li>
<li>1.2k<i class="flaticon-bubble-chat"></i></li>
</ul>
</li>
<li><a href="#">رایگان</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-courses-card">
<div class="courses-img">
<a href="coursesdetails.html"><img src="assets/images/courses/courses-3.jpg" alt="Image"></a>
</div>
<div class="courses-content">
<div class="admin-profile">
<img src="assets/images/courses/admin-3.jpg" alt="Image">
<p>توسط <a href="courses-details.html">جسیکا همسون</a></p>
</div>
<a href="coursesdetails.html"><h3>برنامه نویسی پایتون برای علم داده</h3></a>
<div class="bottom-content">
 <ul class="d-flex justify-content-between">
<li>
<ul>
<li>321<i class="flaticon-graduation"></i></li>
<li>1.2k<i class="flaticon-bubble-chat"></i></li>
</ul>
</li>
<li><a href="#">رایگان</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="more-courses text-center">
<p>از میان صدها گزینه انتخاب کنید <a href="courses.html" class="read-more-btn active">بیشتر در مورد دوره ها <i class="flaticon-next"></i></a></p>
</div>
</div>
</div>


<div class="campus-life-area ptb-100">
<div class="container">
<div class="section-title">
<h2>زندگی دانشگاهی</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-campus-card">
<div class="img">
<a href="campuslife.html"><img src="assets/images/campus-life/campus-life-1.jpg" alt="Image"></a>
</div>
<div class="campus-content">
<span>هنر و فرهنگ</span>
<a href="campuslife.html"><h3>با هنر، ورزش و فرار در طبیعت بیشتر آشنا شوید</h3></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-campus-card">
<div class="img">
<a href="campuslife.html"><img src="assets/images/campus-life/campus-life-2.jpg" alt="Image"></a>
</div>
<div class="campus-content">
<span>دو و میدانی و تناسب اندام</span>
<a href="campuslife.html"><h3>نکات عملکرد ورزشی از سانو را بهبود بخشید</h3></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-campus-card">
<div class="img">
<a href="campus-life.html"><img src="assets/images/campus-life/campus-life-3.jpg" alt="Image"></a>
</div>
<div class="campus-content">
<span>زندگی دانشجویی</span>
<a href="campuslife.html"><h3>چرا نظرم را در مورد ارتباطات شغلی تغییر دادم؟</h3></a>
</div>
</div>
</div>
</div>
<div class="more-campus text-center">
<p>از میان صدها گزینه انتخاب کنید. <a href="campus-life.html" class="read-more-btn active">بیشتر بدانید <i class="flaticon-next"></i></a></p>
</div>
</div>
</div>


<div class="admisssion-area bg-f4f6f9 ptb-100">
<div class="container">
<div class="admission-content">
<div class="section-title">
<h2>پذیرش سانو</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="admission-image">
<img src="assets/images/admission/admission-1.jpg" alt="Image">
<div class="icon">
<a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=6WQCJx_vEX4"><i class="ri-play-fill"></i></a>
</div>
 </div>
<div class="query text-center">
<p>اگر سوالی دارید یا مشکلی دارید لطفا از طریق ایمیل با ما تماس بگیرید</p>
<a href="admission.html" class="default-btn btn">بیشتر در مورد پذیرش<i class="flaticon-next"></i></a>
</div>
</div>
</div>
</div>


<div class="health-care-area ptb-100">
<div class="container">
<div class="section-title">
<h2>مراقبت های بهداشتی</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-health-care-card">
<div class="img">
<a href="healthcaredetails.html"><img src="assets/images/health-care/health-care-1.jpg" alt="Image"></a>
</div>
<div class="health-care-content">
<a href="health-care-details.html"><h3>شادی در زندگی با سلامتی خوب آغاز می شود</h3></a>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="healthcare.html" class="read-more-btn">بیشتر بخوانید<i class="flaticon-next"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-health-care-card">
<div class="img">
<a href="healthcaredetails.html"><img src="assets/images/health-care/health-care-2.jpg" alt="Image"></a>
</div>
<div class="health-care-content">
<a href="healthcaredetails.html"><h3>وقتی زندگی به فناوری پزشکی وابسته است</h3></a>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="healthcare.html" class="read-more-btn">بیشتر بخوانید<i class="flaticon-next"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-health-care-card">
<div class="img">
<a href="healthcaredetails.html"><img src="assets/images/health-care/health-care-3.jpg" alt="Image"></a>
</div>
<div class="health-care-content">
<a href="healthcaredetails.html"><h3> ایجاد یک تفاوت معنادار در زندگی بیماران.</h3></a>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<a href="healthcare.html" class="read-more-btn">بیشتر بخوانید<i class="flaticon-next"></i></a>
</div>
</div>
</div>
</div>
<div class="more-health-care text-center">
<p>از میان صدها گزینه انتخاب کنید. <a href="health-care.html" class="read-more-btn active">بیشتر بدانید<i class="flaticon-next"></i></a></p>
</div>
</div>
</div>


<div class="events-area bg-f4f6f9 ptb-100">
<div class="container">
<div class="section-title">
<h2>رویدادها</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-events-card">
<div class="events-image">
<a href="eventsdetails.html"><img src="assets/images/events/events-1.jpg" alt="Image"></a>
<div class="date">
<span>28</span>
<p>دی</p>
</div>
</div>
<div class="events-content">
<div class="admin">
<p><a href="eventsdetails.html"><i class="flaticon-student-with-graduation-cap"></i>ریموند سالازار</a></p>
</div>
<a href="eventsdetails.html"><h3>برنامه ریزی و تسهیل جلسات موثر</h3></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-events-card">
<div class="events-image">
<a href="eventsdetails.html"><img src="assets/images/events/events-2.jpg" alt="Image"></a>
<div class="date">
<span>29</span>
<p>دی</p>
</div>
</div>
<div class="events-content">
<div class="admin">
<p><a href="eventsdetails.html"><i class="flaticon-student-with-graduation-cap"></i>ریموند سالازار</a></p>
</div>
<a href="eventsdetails.html"><h3>برنامه ریزی و تسهیل جلسات موثر</h3></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-events-card">
<div class="events-image">
<a href="eventsdetails.html"><img src="assets/images/events/events-3.jpg" alt="Image"></a>
<div class="date">
<span>30</span>
<p>دی</p>
</div>
</div>
<div class="events-content">
<div class="admin">
<p><a href="eventsdetails.html"><i class="flaticon-student-with-graduation-cap"></i>ریموند سالازار</a></p>
</div>
<a href="eventsdetails.html"><h3>برنامه ریزی و تسهیل جلسات موثر</h3></a>
</div>
</div>
</div>
</div>
<div class="more-health-care text-center">
<p>از میان صدها گزینه انتخاب کنید. <a href="health-care.html" class="read-more-btn active">بیشتر در مورد رویدادها<i class="flaticon-next"></i></a></p>
</div>
</div>
</div>


<div class="podcasts-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="section-title style2">
<h2>پادکست های ما</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="single-podcasts-card" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="row align-items-center">
<div class="col-lg-5 col-md-5">
<div class="podcasts-image">
<img src="assets/images/podcasts/podcasts-1.jpg" alt="Image">
</div>
</div>
<div class="col-lg-7 col-md-7">
<div class="podcast-content">
<span>قسمت:1</span>
<h3>چگونه وب سایت هایی بسازیم که طنین انداز شوند</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="play-icon">
<a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=6WQCJx_vEX4"><i class="ri-play-fill"></i><span>پخش اپیزود</span></a>
</div>
</div>
</div>
</div>
</div>
<div class="single-podcasts-card" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="row align-items-center">
<div class="col-lg-5 col-md-5">
<div class="podcasts-image">
<img src="assets/images/podcasts/podcasts-2.jpg" alt="Image">
</div>
</div>
<div class="col-lg-7 col-md-7">
<div class="podcast-content">
<span>قسمت:199</span>
<h3>چگونه یک وب سایت خوب ایجاد کنیم</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="play-icon">
<a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=6WQCJx_vEX4"><i class="ri-play-fill"></i><span>پخش اپیزود</span></a>
</div>
</div>
</div>
</div>
</div>
<div class="single-podcasts-card" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="row align-items-center">
<div class="col-lg-5 col-md-5">
<div class="podcasts-image">
<img src="assets/images/podcasts/podcasts-3.jpg" alt="Image">
</div>
</div>
<div class="col-lg-7 col-md-7">
<div class="podcast-content">
 <span>قسمت:1</span>
<h3>نحوه استفاده از فناوری برای انطباق</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="play-icon">
<a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=6WQCJx_vEX4"><i class="ri-play-fill"></i><span>پخش اپیزود</span></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="categories">
<h3>دسته بندی ها</h3>
<ul>
<li><a href="#"><i class="flaticon-briefcase"></i>تجارت</a></li>
<li><a href="#"><i class="flaticon-fashion"></i>مد</a></li>
<li><a href="#"><i class="flaticon-writing-tool"></i>نویسندگی</a></li>
<li><a href="#"><i class="flaticon-web-development"></i>توسعه دهنده</a></li>
<li><a href="#"><i class="flaticon-audio-speaker"></i>بازاریابی</a></li>
</ul>
</div>
<div class="subscribe-area">
<div class="top-content">
<i class="flaticon-email"></i>
<h3>مشترک شدن در خبرنامه</h3>
<p>به‌روزرسانی اخبار و رویدادها را دریافت کنید</p>
</div>
<form class="newsletter-form" data-toggle="validator">
<input type="email" class="form-control" placeholder="ایمیل شما" name="EMAIL" required autocomplete="off">
<button class="default-btn" type="submit">
مشترک شدن
</button>
<div id="validator-newsletter" class="form-result"></div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="students-stories-area bg-f4f6f9 pt-100 pb-70">
<div class="container">
<div class="section-title">
<h2>داستان های دانشجویی</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. </p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-stories-card">
<div class="stories-content">
<h3>چرا سانو را انتخاب می کنم</h3>
</div>
<iframe src="https://www.youtube.com/embed/dT9uXvsH6EU" title="پخش کننده ویدیو یوتیوب" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-stories-card">
<div class="stories-content">
<h3>چرا سانو را انتخاب می کنم</h3>
 </div>
<iframe src="https://www.youtube.com/embed/TM9gjl-8X-E" title="پخش کننده ویدیو یوتیوب" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-stories-card">
<div class="stories-content">
<h3>چرا سانو را انتخاب می کنم</h3>
</div>
<iframe src="https://www.youtube.com/embed/yeZpJ6lJC54" title="پخش کننده ویدیو یوتیوب" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</div>


<div class="lates-news-area ptb-100">
<div class="container">
<div class="section-title">
<h2>آخرین خبرها</h2>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
</div>
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200" data-aos-once="true">
<div class="single-news-card">
<div class="news-img">
<a href="newsdetails.html"><img src="assets/images/news/news-1.jpg" alt="Image"></a>
</div>
<div class="news-content">
<div class="list">
<ul>
<li><i class="flaticon-user"></i>توسط <a href="news-details.html">مدیر</a></li>
<li><i class="flaticon-tag"></i>علوم اجتماعی</li>
</ul>
</div>
<a href="newsdetails.html"><h3>چگونه از فناوری برای تطبیق استعداد خود با جهان استفاده کنیم</h3></a>
<a href="newsdetails.html" class="read-more-btn">ادامه خواندن<i class="flaticon-next"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" data-aos-once="true">
<div class="single-news-card">
<div class="news-img">
<a href="newsdetails.html"><img src="assets/images/news/news-2.jpg" alt="Image"></a>
</div>
<div class="news-content">
<div class="list">
<ul>
<li><i class="flaticon-user"></i>توسط <a href="news-details.html">مدیر</a></li>
<li><i class="flaticon-tag"></i>علوم اجتماعی</li>
</ul>
</div>
<a href="newsdetails.html"><h3>چگونه از فناوری برای تطبیق استعداد خود با جهان استفاده کنیم</h3></a>
<a href="newsdetails.html" class="read-more-btn">ادامه خواندن<i class="flaticon-next"></i></a>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="600" data-aos-once="true">
<div class="single-news-card">
<div class="news-img">
<a href="newsdetails.html"><img src="assets/images/news/news-3.jpg" alt="Image"></a>
</div>
<div class="news-content">
<div class="list">
<ul>
<li><i class="flaticon-user"></i>توسط <a href="news-details.html">مدیر</a></li>
<li><i class="flaticon-tag"></i>علوم اجتماعی</li>
</ul>
</div>
<a href="newsdetails.html"><h3>چگونه از فناوری برای تطبیق استعداد خود با جهان استفاده کنیم</h3></a>
<a href="newsdetails.html" class="read-more-btn">ادامه خواندن<i class="flaticon-next"></i></a>
</div>
</div>
</div>
</div>
<div class="more-latest-news text-center">
<p>از میان صدها گزینه انتخاب کنید.<a href="latest-news.html" class="read-more-btn active">اخبار بیشتر<i class="flaticon-next"></i></a></p>
</div>
</div>
</div>
