<div class="preloader-area">
<div class="spinner">
<div class="inner">
<div class="disc"></div>
<div class="disc"></div>
<div class="disc"></div>
</div>
</div>
</div>


<div class="top-header-area">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6">
<div class="header-left-content">
<p>آخرین به‌روزرسانی‌ها و پاسخ سانو به کووید-19 را دریافت کنید</p>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="header-right-content">
<div class="list">
<ul>
<li><a href="graduate-admission.html">دانش آموزان</a></li>
<li><a href="campus-life.html">هیات علمی</a></li>
<li><a href="admission.html">بازدید کنندگان</a></li>
<li><a href="academics.html">دانشگاهیان</a></li>
<li><a href="alumni.html">فارغ التحصیلان</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="navbar-area nav-bg-1">
<div class="mobile-responsive-nav">
<div class="container">
<div class="mobile-responsive-menu">
<div class="logo">
<a href="index.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
</div>
</div>
</div>
</div>
<div class="desktop-nav">
<div class="container">
 <nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="assets/images/white-logo.png" alt="logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav ms-auto">
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
خانه
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="index.html" class="nav-link">صفحه اصلی - 1</a>
</li>
<li class="nav-item">
<a href="index-2.html" class="nav-link">صفحه اصلی - 2</a>
</li>
<li class="nav-item">
<a href="index-3.html" class="nav-link">صفحه اصلی - 3</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">
صفحات
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="graduate-admission.html" class="nav-link">پذیرش فارغ التحصیل</a>
</li>
<li class="nav-item">
<a href="campus-life.html" class="nav-link">زندگی دانشگاهی</a>
</li>
<li class="nav-item">
<a href="alumni.html" class="nav-link">فارغ التحصیلان</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
دانشگاهیان
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="academics.html" class="nav-link">دانشگاهیان</a>
</li>
<li class="nav-item">
<a href="academics-details.html" class="nav-link">جزئیات دانشگاهیان</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
آخرین خبرها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="latest-news.html" class="nav-link">آخرین اخبار ما</a>
</li>
<li class="nav-item">
<a href="news-details.html" class="nav-link">جزئیات خبر</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="faq.html" class="nav-link">سوالات متداول</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle active">
کاربران
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="login.html" class="nav-link">ورود</a>
</li>
<li class="nav-item">
<a href="register.html" class="nav-link">ثبت نام</a>
</li>
<li class="nav-item">
<a href="recover-password.html" class="nav-link active">بازیابی گذرواژه</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
</li>
<li class="nav-item">
<a href="terms-conditions.html" class="nav-link">قوانین و ضوابط</a>
</li>
<li class="nav-item">
<a href="coming-soon.html" class="nav-link">به زودی</a>
</li>
<li class="nav-item">
<a href="404.html" class="nav-link">خطای 404</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
دوره ها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="courses.html" class="nav-link">دوره ها</a>
</li>
<li class="nav-item">
<a href="courses-details.html" class="nav-link">جزئیات دوره ها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
مراقبت های بهداشتی
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="health-care.html" class="nav-link">مراقبت های بهداشتی</a>
</li>
<li class="nav-item">
<a href="health-care-details.html" class="nav-link">جزئیات مراقبت های بهداشتی</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link dropdown-toggle">
رویدادها
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="events.html" class="nav-link">رویدادها</a>
</li>
<li class="nav-item">
<a href="events-details.html" class="nav-link">جزئیات رویدادها</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="contact-us.html" class="nav-link">تماس با ما</a>
</li>
</ul>
<div class="others-options">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="others-option-for-responsive">
<div class="container">
<div class="dot-menu">
<div class="inner">
<div class="icon">
<i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>
<div class="modal-body">
<a href="index.html">
<img src="assets/images/logo.png" class="main-logo" alt="logo">
<img src="assets/images/white-logo.png" class="white-logo" alt="logo">
</a>
<div class="sidebar-content">
<h3>درباره ما</h3>
<p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
<div class="sidebar-btn">
<a href="contact.html" class="default-btn">بیایید صحبت کنیم</a>
</div>
</div>
<div class="sidebar-contact-info">
<h3>اطلاعات مشتری</h3>
<ul class="info-list">
<li><i class="ri-phone-fill"></i> <a href="tel:9901234567">+990-123-4567</a></li>
<li><i class="ri-mail-line"></i><a href="mailto: hello@sanu.com"> hello@sanu.com</a></li>
<li><i class="ri-map-pin-line"></i> ایران ، استان تهران ، میدان آزادی</li>
</ul>
</div>
<ul class="sidebar-social-list">
<li>
<a href="https://www.facebook.com" target="_blank"><i class="flaticon-facebook"></i></a>
</li>
<li>
<a href="https://www.twitter.com" target="_blank"><i class="flaticon-twitter"></i></a>
</li>
<li>
<a href="https://linkedin.com/?lang=en" target="_blank"><i class="flaticon-linkedin"></i></a>
</li>
<li>
<a href="https://instagram.com/?lang=en" target="_blank"><i class="flaticon-instagram"></i></a>
</li>
</ul>
<div class="contact-form">
<h3>برای شروع آماده اید؟</h3>
<form id="contactForm">
<div class="row">
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="text" name="name" class="form-control" required data-error="لطفا نام خود را وارد " placeholder="نام شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-6">
<div class="form-group">
<input type="email" name="email" class="form-control" required data-error="لطفا ایمیل خود را وارد کنید" placeholder="آدرس ایمیل شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<input type="text" name="phone_number" class="form-control" required data-error="لطفا تلفن خود را وارد کنید" placeholder="شماره تلفن شما">
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<div class="form-group">
<textarea name="message" class="form-control" cols="30" rows="6" required data-error="لطفا پیام خود را بنویسید" placeholder="نوشتن پیام شما..."></textarea>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-lg-12 col-md-12">
<button type="submit" class="default-btn">ارسال پیام<span></span></button>
<div id="msgSubmit" class="h3 text-center hidden"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


<div class="page-banner-area bg-2">
<div class="container">
<div class="page-banner-content">
<h1>بازیابی گذرواژه</h1>
<ul>
<li><a href="index.html">خانه</a></li>
<li>بازیابی گذرواژه</li>
</ul>
</div>
</div>
</div>


<div class="password-area pt-100 pb-70">
<div class="container">
<div class="password">
<h3>بازیابی گذرواژه</h3>
<form>
<div class="form-group">
<input type="email" id="email" class="form-control" placeholder="*نام کاربری یا آدرس ایمیل">
</div>
<button type="submit" class="default-btn btn active">بازیابی کن</button>
</form>
</div>
</div>
</div>